@charset "UTF-8";
@font-face {
    font-family: 'RocknRollOne';
    src: url('resources/fonts/RocknRollOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.key-items-main {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-items {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: relative;
    cursor: pointer;
}

.key-items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: 
    drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
}

.key-items::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%; 
    height: 120%;
    background-image: url('resources/general/border-selection.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
    z-index: 2;
}

.key-items:hover::after {
    opacity: 1;
    visibility: visible;
}

.key-items:hover img {
    animation: pulse-item 1s ease-in-out;
}

.key-items:hover::before, .key-items:hover::after {
}

.key-items.selected {
z-index:2
}

.key-items.selected::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 120%;
    height: 120%;
    border-radius: 1000%;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.7) 20%, rgba(255, 215, 0, 0) 70%);
    box-shadow: 0 0 0px 0px rgba(255, 215, 0, 0.7);
    z-index: -1; 
    visibility: visible;
    opacity: 1;
}

.left-arrow {
    background-image: url('resources/general/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 20;
    width: 5.5vw;
    height: 5.5vw;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.left-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 5vw;
    height: 5vw;
    background-image: url('resources/general/border-selection.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
}

.left-arrow:hover {
    animation: pulse-left 1s ease-in-out !important;
}

.left-arrow:hover::after {
    opacity: 1;
    visibility: visible;
}

.key-items-text-content {
    left: 2.5%;
}

.key-items:hover .swap-button {
    opacity: 1;
}

@keyframes title-items-transition {
    from {transform: translateY(100vh);}
    to {transform: translateY(0vh);}
}

@keyframes pulse-left {
    0% {transform: translate(-50%, -50%) rotate(180deg) scale(1);}
    50% {transform: translate(-50%, -50%) rotate(180deg) scale(1.1);}
    100% {transform: translate(-50%, -50%) rotate(180deg) scale(1);}
}

@keyframes pulse-item {
    0% {transform: scale(1);}
    50% {transform: scale(1.06);}
    100% {transform: scale(1);}
}

@keyframes simple-pulse {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 0.7; }
    50% { transform: translate(-50%, -50%) scale(1.15); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0.7; }
}


/*.items-grid {
    outline: 2px dashed red;
}

.items-container {
    outline: 1px solid lime;
}

.items, .key-items {
    outline: 1px solid blue;
}

.text-bg {
    outline: 1px solid purple;
}

.items-button,.map-button {
    outline: 1px solid black;
}*/