@charset "UTF-8";
@font-face {
    font-family: 'RocknRollOne';
    src: url('resources/fonts/RocknRollOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.items-background {
    background-image: url('/resources/inventory/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    margin: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: block;
}

.items-main {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.items-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: relative;
    cursor: pointer;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: 
    drop-shadow(1px 0 0 white) 
    drop-shadow(-1px 0 0 white) 
    drop-shadow(0 1px 0 white) 
    drop-shadow(0 -1px 0 white)  
    drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
}

.items::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%; 
    height: 120%;
    background-image: url('/resources/general/border-selection.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
    z-index: 2;
}

.items:hover::after {
    opacity: 1;
    visibility: visible;
}

.items:hover img {
    animation: pulse-item 1s ease-in-out;
}

.items:hover::before, .items:hover::after {
}

.items.selected {
z-index:2
}

.items.selected::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 120%;
    height: 120%;
    border-radius: 1000%;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.7) 20%, rgba(255, 215, 0, 0) 70%);
    box-shadow: 0 0 0px 0px rgba(255, 215, 0, 0.7);
    z-index: -1; 
    visibility: visible;
    opacity: 1;
}

.text-bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inventory-limit {
    position: relative;
    width: 100%;
    max-width: 90vw;
    aspect-ratio: 2230 / 1019;
}

.inventory-base {
    width: 100%;
    height: auto;
    display: block;
}

.items-grid {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(60, 1fr);
    z-index: 10;
    pointer-events: none;
    outline: 2px dashed red;
}

.right-arrow {
    background-image: url('/resources/general/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 5.5vw;
    height: 5.5vw;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.right-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 5vw;
    height: 5vw;
    background-image: url('/resources/general/border-selection.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
}

.right-arrow:hover {
    animation: pulse-right 1s ease-in-out infinite;
}

.right-arrow:hover::after {
    opacity: 1;
    visibility: visible;
}

.menu-buttons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: relative;
    cursor: pointer;
    margin-top: -2vw;
    z-index: 20;
    width:100%
}

@keyframes pulse-right {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes pulse-item {
    0% {transform: scale(1);}
    50% {transform: scale(1.06);}
    100% {transform: scale(1);}
}

@keyframes simple-pulse {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 0.7; }
    50% { transform: translate(-50%, -50%) scale(1.15); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0.7; }
}

.items-grid {
    outline: 2px dashed red;
}

.items-container {
    outline: 1px solid lime;
}

.items {
    outline: 1px solid blue;
}

.text-bg {
    outline: 1px solid purple;
}

.menu-buttons {
    outline: 1px solid black;
}