@charset "UTF-8";
@font-face {
    font-family: 'RocknRollOne';
    src: url('resources/fonts/RocknRollOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.title-screen {
    background-image: url('/resources/titlescreen/titleScreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    margin: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    display: block;
}

.title-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 10;
    width: 50vw;
}

.logo {
    width: 100%;
    height: auto;
    animation: waveAnimation 5s ease-in-out infinite;
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateY(-3px) rotate(0.3deg);
    }
    75% {
        transform: translateY(3px) rotate(-0.3deg);
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

.triforce {
    position: absolute;
    top: 94%;
    left: 0;
    width: 100%;
    height: 1.7vw;
    background-image: url('resources/maps/fullTriforce.png');
    background-repeat: repeat-x;
    background-size: 1.7vw;
    z-index: 5;
    opacity: 0.85;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    animation: triforceAnimation 200s linear infinite;
}

@keyframes triforceAnimation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
}


.down-arrow {
    background-image: url('/resources/general/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 20;
    width: 5vw;
    height: 5vw;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.down-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 8vw;
    height: 8vw;
    background-image: url('/resources/general/border-selection.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
}

.down-arrow:hover {
    animation: pulse-down 1s ease-in-out;
}

.down-arrow:hover::after {
    opacity: 1;
    visibility: visible;
}

@keyframes pulse-down {
    0% { transform: translate(-50%, -50%) rotate(90deg) scale(1); }
    50% { transform: translate(-50%, -50%) rotate(90deg) scale(1.1); }
    100% { transform: translate(-50%, -50%) rotate(90deg) scale(1); }
}

.page-content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    transition: transform 0.8s ease-in-out
}

.push-up {
    transform: translateY(-100vh); 
}