@page "/items"

<PageTitle>Zelda WWHD Interactive Inventory</PageTitle>

<div class="items-background">
    <div class="items-main">
        <div class="inventory-limit">
            <img src="/resources/inventory/inventory-main.png" class="inventory-base" />
            <div class="items-grid">
                <div class="text-bg no-select" style="grid-column: 5 / 20; grid-row: 9 / 53;">
                    <img src="/resources/inventory/text-backgroud.png" />
                </div>

                <div class="items-container no-select" style="grid-column: 38 / 58; grid-row: 20 / 57;">
                    <img src="/resources/inventory/hexagon.png" />
                </div>
                <div class="items-container no-select" style="grid-column: 29 / 43; grid-row: 20 / 57;">
                    <img src="/resources/inventory/bags.png" />
                </div>
                <div class="items-container no-select " style="grid-column: 21 / 35; grid-row: 20 / 57;">
                    <img src="/resources/inventory/others.png" />
                </div>
                <div class="items-container no-select " style="grid-column: 27 / 58; grid-row: 6 / 19;">
                    <img src="/resources/inventory/bottles.png" />
                </div>


                <div class="items no-select" style="grid-column: 26 / 31; grid-row: 23 / 31;">
                    <img src="/resources/inventory/items/telescope/telescope.png" />
                </div>
                <div class="items no-select" style="grid-column: 23 / 29; grid-row: 34 / 43;">
                    <img src="/resources/inventory/items/Tingle Bottle/tingleBottle.webp" />
                </div>
                <div class="items no-select" style="grid-column: 26 / 31; grid-row: 46 / 56;">
                    <img src="/resources/inventory/items/Picto Box/pictoBox.webp" />
                </div>


                <div class="items no-select" style="grid-column: 34 / 39; grid-row: 22 / 32;">
                    <img src="/resources/inventory/items/Bag Spoils/spoilsBag.png" />
                </div>
                <div class="items no-select" style="grid-column: 31 / 37; grid-row: 34 / 43;">
                    <img src="/resources/inventory/items/Bag Bait/baitBag.png" />
                </div>
                <div class="items no-select" style="grid-column: 34 / 39; grid-row: 46 / 56;">
                    <img src="/resources/inventory/items/Bag Delivery/deliveryBag.png" />
                </div>


                <div class="items no-select" style="grid-column: 41 / 45; grid-row: 22 / 32;">
                    <img src="/resources/inventory/items/Grappling Hook/grapplingHook.png" />
                </div>
                <div class="items no-select" style="grid-column: 46 / 50; grid-row: 22 / 32;">
                    <img src="/resources/inventory/items/Deku Leaf/dekuLeaf.png" />
                </div>
                <div class="items no-select" style="grid-column: 51 / 55; grid-row: 22 / 32;">
                    <img src="/resources/inventory/items/Bomb Bags/bomb.webp" />
                </div>


                <div class="items no-select" style="grid-column: 38 / 44; grid-row: 34 / 44;">
                    <img src="/resources/inventory/items/Boomerang/boomerang.png" />
                </div>
                <div class="items no-select" style="grid-column: 44 / 49; grid-row: 34 / 44;">
                    <img src="/resources/inventory/items/Bow/bow.png" />
                </div>
                <div class="items no-select" style="grid-column: 49 / 55; grid-row: 34 / 44;">
                    <img src="/resources/inventory/items/Hookshot/hookshot.png" />
                </div>


                <div class="items no-select" style="grid-column: 41 / 46; grid-row: 46 / 56;">
                    <img src="/resources/inventory/items/Skull Hammer/skullHammer.png" />
                </div>
                <div class="items no-select" style="grid-column: 46 / 51; grid-row: 46 / 56;">
                    <img src="/resources/inventory/items/Iron Boots/ironBoots.png" />
                </div>
                <div class="items no-select" style="grid-column: 51 / 56; grid-row: 46 / 56;">
                    <img src="/resources/inventory/items/Magic Armor/magicAmor.png" />
                </div>


                <div class="items no-select" style="grid-column: 30 / 35; grid-row: 8 / 17;">
                    <img src="/resources/inventory/items/Bottle/bottleEmpty.webp" />
                </div>
                <div class="items no-select" style="grid-column: 37 / 42; grid-row: 8 / 17;">
                    <img src="/resources/inventory/items/Bottle/bottleWater.png" />
                </div>
                <div class="items no-select" style="grid-column: 43 / 49; grid-row: 8 / 17;">
                    <img src="/resources/inventory/items/Bottle/fairy.png" />
                </div>
                <div class="items no-select" style="grid-column: 50 / 56; grid-row: 8 / 17;">
                    <img src="/resources/inventory/items/Bottle/potionRed.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-arrow no-select"></div>
