@page "/"
@inject NavigationManager NavManager
@inject Transition Transition

<div class="page-content @transition">
    <div class="title-screen">
        <div class="title-logo">
            <img src="resources/titlescreen/logo.png" class="logo no-select">
        </div>
        <div class="down-arrow no-select" @onclick="ItemsTrasition"></div>
    </div>
</div>

@code {
    private string transition = "";

    private async Task ItemsTrasition()
    {
        Transition.Animate = true;

        transition = "push-up";
        await Task.Delay(1000);
        NavManager.NavigateTo("items");
    }
}