name: gh-pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'

    - name: Publish
      run: dotnet publish ZWWHDII/ZWWHDII.csproj --configuration Release --output out

    - name: Change base-tag
      run: sed -i 's|<base href="/" />|<base href="/ZWWHDII/" />|g' out/wwwroot/index.html

    - name: Add .nojekyll
      run: touch out/wwwroot/.nojekyll

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: out/wwwroot
        branch: gh-pages
